main {
  font-size: 0px;
}

.container {
  width: 800px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

.half-color {
  width: 50%;
  height: 200px;
  display: inline-block;
}

.third-color {
  width: 33.33%;
  height: 300px;
  display: inline-block;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.gray {
  background-color: gray;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
}